@import '../../variables.scss'; 

.singleSkatepark {

    .carousel {
        height: 500px; 

        @media (max-width: $lg) {
            height: 300px;
        }
    }

    .details {
        display: flex; 
        flex-direction: column; 
        justify-content: space-between;
        height: 100%; 

        .copy {
            position: relative;

            &::after {
                content: 'kliknutím zkopíruješ'; 
                position: absolute; 
                top: -30px; 
                right: -0px; 
                opacity: 0; 
                z-index: 2;
                transition: opacity 0.15s;  
                background-color: rgba(0, 0, 0, 0.048); 
                padding: 5px 10px; 
                width: max-content;
            } 
            &:hover::after {
                opacity: 1;
            }
        }
    }


    .comment {

        @media (max-width: $lg) {
            border-bottom: 1px solid black; 
        }

        .right {
            border-left: 1px solid black;  

            @media (max-width: $lg) {
                border-left: unset;
            }
        }
    } 
    
}