
@import '../variables.scss';

.account {
    .container {
        // background-color: $yellow;\
        .details {
            border: 1px solid black;
            border-radius: 10px;
        }

    }

    .comment {

        @media (max-width: $lg) {
            border-bottom: 1px solid black; 
        }

        .right {
            border-left: 1px solid black;  

            @media (max-width: $lg) {
                border-left: unset;
            }
        }
    } 


}